@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&family=Righteous&family=Roboto:ital,wght@1,700&display=swap');

#wp{
  position: absolute;
  display: grid;
  height: 100%;
  background-color: rgb(27, 28, 37);
}

.background{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  margin-top: -10px;
  margin-right: -10px;
  margin-bottom: -30px;
  padding:0px 0px;
  background-color: rgb(27, 28, 37)
  
}

*{
  margin: 0;
  left: -80px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif KR', serif;
}

#logo{
  display: flex;
  position: fixed;
  top: 0;
  left: 200px;
  padding: 20px 100px;
  background: #ffcdb2;
  justify-content: center;
  align-items: center;
}
header{
  padding: 2rem 15rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h3{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: wheat;
}

#new-task{
  display: flex;
}

main h2{
  padding: 2rem, 4rem;
}
input, button{
  appearance: none;
  border:none;
  outline: none;
  background: none;
}

#new-task-input{
  flex: 1 1 0%;
  background-color:#42425a;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: whitesmoke;
  font-size: 1.25rem;
}

#new-task-input::placeholder{
  color: #1b1c25;

}

#task-submit{
  color: #f5deb3;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #595c7a, #979dcf);
  cursor: pointer;
  transition: 0.4s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#task-submit:hover{
  opacity: 0.8;
}

#task-submit:active{
  opacity: 0.6;
}

main{
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list{
  padding: 1rem;
}

.task-list h2{
  font-size: 1.5rem;
  font-weight: 300;
  color: wheat;
}

#tasks .task{
  display: flex;
  justify-content: space-between;
  background-color: #f5deb3;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;

}

#tasks .task .content {
  flex: 1 1 0%;
}

#tasks .task .content .text{
  color: #595c7a;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
  color: #979dcf;
}

#tasks .task .action{
  display: flex;
  margin: 0 -0.5rem;
}

.task .action button{
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight:700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .action button:hover{
  opacity: 0.8;
}

.task .action button:active{
  opacity: 0.6;
}

.task .action .edit:hover{
  color:#4a4ad5;
}

.task .action .delete:hover{
  color: red;
}

body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1b1c25;
  color: white;
}

.nav-open{
  background-color: rgb(27, 28, 37);
}

.nav-open .navigation{
  transform: translateX(0);
  }

.nav-open .main{
  transform: translateX(750px);
}

.task-list .main{
  transform: translateX(750px);
}

.emptyState{
  position: absolute;
  opacity: 0.5;
  margin-left:650px ;
  max-height: auto;

}

.navigation{
  width: 750px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  transform: translateX(-750px);
  transition: transform 0.2s;
}

.nav-close{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 15px 25px;
  color: #f5deb3;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: black;
  
}


.nav-close, .nav-link:hover{
background: rgba(255,255,255,0.05);
}

.main{
  transition: transform 0.2s;
  transform: translateX(750px);
  padding: 15px 25px;
}

#open{
  position: fixed;
  border: none;
  background: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  padding: 15px 25px;
  color: wheat;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
}

.link-container{
  top: 0;
  padding: 10px 20px;
  position: relative;
  background: #979dcf;
  height: 100%;
  align-items: center;
  
}

.nav-link{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 5px 110px;
  Margin-top: 90px;
  text-decoration: none;
  color: wheat;
  font-size: 60px;
  font-family: 'Noto Serif KR', serif;
  max-height: 100px;
  height: 100%;
}

.nav-link:hover{
  color: beige;
}

/*:root{
  --dark-body: #4d4c5a;
}

/*main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Screen reader text utility class

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
